body {
  font-family: 'Courier New', Courier, monospace;
  background: #1a1a2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.ui {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.grid {
  height: 432px;
  width: 480px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset, 0 1px 0 #fff;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 48px;
  width: 48px;
}

.left-wall {
  background-image: url('/Zelda-game/images/rfDoaa1.png');
}

.top-wall {
  background-image: url('/Zelda-game/images/QA257Bj.png');
}
.bottom-wall {
  background-image: url('/Zelda-game/images/vWJWmvb.png');
}
.right-wall {
  background-image: url('/Zelda-game/images/SmHhgUn.png');
}
.bottom-left-wall {
  background-image: url('/Zelda-game/images/awnTfNC.png');
}
.bottom-right-wall {
  background-image: url('/Zelda-game/images/84oyTFy.png');
}
.top-left-wall {
  background-image: url('/Zelda-game/images/xlpUxIm.png');
}
.top-right-wall {
  background-image: url('/Zelda-game/images/z0OmBd1.jpg');
}
.top-door {
  background-image: url('/Zelda-game/images/U9nre4n.png');
}
.left-door {
  background-image: url('/Zelda-game/images/okdJNls.png');
}
.stairs {
  background-image: url('/Zelda-game/images/VghkL08.png');
}
.fire-pot {
  background-image: url('/Zelda-game/images/I7xSp7w.png');
}
.lanterns {
  background-image: url('/Zelda-game/images/wiSiY09.png');
}
.slicer {
  background-image: url('/Zelda-game/images/c6JFi5Z.png');
}
.skeletors {
  background-image: url('/Zelda-game/images/Ei1VnX8.png');
}
.kaboom {
  background-image: url('/Zelda-game/images/o9WizfI.png');
}